<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head', { title: 'All Posts' }) %>
    <link rel="stylesheet" href="/styles/letters.css" />
  </head>

  <body>
    <%- include('includes/header') %>

    <main id="all-receivers">
      <!-- <h1>All Letters</h1> -->

      <div>
        <table class="table">
      <h2>Receivers</h2>

          <thead>
            <th>ID</th>
            <th>Name</th>
            <th>Contact No.</th>
            <th>Email</th>
            <th>Department</th>
          </thead>
          <tbody>
            <% var i = 0 %>
        
            <% for(const receiver of receivers) { %>
            <tr>
              <td data-label="receiverId"><%= ++i %></td>
              <td data-label="receiver_name"><%= receiver.Emp_name %></td>
              <td data-label="contactno"><%= receiver.Contact_no %></td>
              <td data-label="email"><%= receiver.Email %></td>
              <td data-label="Department"><%= receiver.Dept_name %></td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
  </body>
</html>
